body {
    color: #333;
}

.item {
    list-style: none;
    padding: 1em;
    margin: 1em 0;
    /* border-radius: 1em; */
    background-color: #eee;
    border-left: 1em solid #e33a35;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.45);
}

#error_explanation {
    color: white;
    background-color: #666;
    border-left: none;
    border-left: 1em solid #e33a35;
}
